
<form action="/user/create" method="POST" id="sign-up-form" class="form-signin">

	<h2 class="form-signin-heading">Створити ак.</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
	</ul>
	<% } %>

	
	<div class="control-group">
	<input type="text" class="form-control" placeholder="Ім'я" name="name">
	</div>

	<div class="control-group">
	<textarea name="title"  id="redactor"/></textarea>	
		
	</div><br>
	<div class="control-group">
	<input type="text" class="form-control" placeholder="email адреса" name="email">
	</div>

	<div class="control-group">
	<input type="password" class="form-control" placeholder="password" name="password" id="password">
	</div>

	<div class="control-group">
	<input type="password" class="form-control" placeholder="password повторно" name="confirmation">
	<br />
	</div>

	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Створити ак"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>