
<div class="container">
			

<div class="col-xs-12 col-sm-9">
<% if (session.authenticated && session.User.admin) { %>	
<form action="/kolomiya/create" method="POST"  >

	<h2 class="form-signin-heading">Створити kolomiya.</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
	</ul>
	<% } %>

	
	<input type="hidden" value="<%= session.User.id %>" name="name" type="text" class="form-control"/>
		

	<div class="control-group">
	<input type="text" class="form-control" placeholder="Назва" name="title">
	</div>

	
    	
<br>
	<div class="control-group">
	<textarea name="text"  id="redactor"/></textarea>	
		
	</div><br>
	<div class="control-group" type="text">
	
			<input name="img" type="text" placeholder="Посилання на зображення" class="form-control"/>
			</div>
		<br>
	<div class="control-group" type="text">
		<select name="category" class="form-control">
		<option  value="">Без категорії Васька)</option>
		<option  value="gd-vokzal">ЖД-Вокзал</option>
		<option  value="autovokzal">Автовокзал</option>
		<option  value="citytransport">Міський транспорт</option>
		<option  value="taxi">Таксі</option>
		</select>
	</div>
<br>
<input name="category" type="text" placeholder="Нова категорія" class="form-control"/>
<br>
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Створити ак"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
</div>
 <%} else { res.redirect('/session/new'); } %>
 