
<% if (session.authenticated && session.User.admin) { %>	
<form action="/news/create" method="POST" id="sign-up-form" class="form-edit">

	<h2 class="form-signin-heading">Створити news.</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
	</ul>
	<% } %>

	
	<input type="hidden" value="<%= session.User.id %>" name="name" type="text" class="form-control"/>
		

	<div class="control-group">
	<input type="text" class="form-control" placeholder="Назва" name="title">
	</div>

	
    	
<br>
	<div class="control-group">
	<textarea name="text"  id="redactor"/></textarea>	
		
	</div><br>
	<div class="control-group" type="text">
	
			<input name="img" type="text" placeholder="Посилання на зображення" class="form-control"/>
			</div>
		<br>

<br>
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Створити ак"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

 <%} else { res.redirect('/session/new'); } %>